* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

.header {
  background-image: url("./Assets/backgroundweb.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

//Navigation section

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 10px;
  height: 8vh;
  z-index: 99;
  position: sticky;

  .menu {
    position: absolute;
    top: 8px;
    right: 8px;
    display: none;
    i {
      color: white;
    }
  }

  .logo {
    img {
      width: 50px;
      border-radius: 50%;
    }
  }

  ul {
    display: flex;
    .active {
      text-decoration: underline;
    }
    li {
      padding: 0 20px;
      list-style: none;
      a {
        color: white;
        font-size: 22px;
        text-decoration: none;
        transition-duration: 267ms;
        &:hover {
          color: rgb(227, 227, 227);
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .navigation {
    .menu {
      display: block;
    }

    .logo {
      img {
        width: 30px;
      }
    }

    .show {
      transform: translateX(0);
    }

    ul {
      flex-direction: column;
      position: absolute;
      top: 0%;
      left: 0%;
      z-index: 99;
      background-color: #133854;
      height: 100vh;
      width: 80vw;
      justify-content: center;
      align-items: center;
      transform: translateX(-100%);
      transition: transform 0.8s ease-in-out;
      li {
        padding: 20px 0;
      }
    }
  }
}

//Hero 1 section

.hero-1 {
  display: flex;
  flex-wrap: wrap;
  min-height: 92vh;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  .content {
    display: flex;
    flex-direction: column;
    width: 700px;
    h1 {
      color: white;
      font-size: 60px;
      padding-bottom: 30px;
    }

    p {
      color: rgb(222, 222, 222);
      font-size: 22px;
      padding-bottom: 30px;
    }

    a {
      padding: 20px;
      background-color: #53789597;
      color: white;
      text-decoration: none;
      width: 150px;
      text-align: center;
      &:hover {
        background-color: #537895;
      }
    }
  }

  img {
    width: 500px;
    margin: 40px 0;
  }
}

@media (max-width: 768px) {
  .hero-1 {
    .content {
      h1 {
        font-size: 30px;
      }
      p {
        font-size: 15px;
      }
      a {
        padding: 10px;
        font-size: 12px;
      }
    }

    img {
      width: 200px;
      margin: 20px 0;
    }
  }
}

//services section

.services {
  color: rgb(31, 31, 31);
  h1 {
    text-align: center;
    font-size: 60px;
    padding: 40px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    .services-cards {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 300px;
      width: 300px;
      h2 {
        font-size: 28px;
        padding: 20px;
      }
      svg {
        width: 300px;
      }
    }
  }
}

@media (max-width: 768px) {
  .services {
    h1 {
      font-size: 30px;
    }
    .cards {
      .services-cards {
        h2 {
          font-size: 22px;
        }
        svg {
          width: 200px;
        }
      }
    }
  }
}

//projects section

.projects {
  background-color: rgb(252, 252, 252);
  margin-top: 40px;
  color: rgb(31, 31, 31);
  text-align: center;

  h1 {
    text-align: center;
    font-size: 60px;
    padding: 40px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    .projects-cards {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 400px;
      min-height: 400px;
      text-align: center;
      background-color: white;
      margin: 10px 0;
      h3 {
        padding: 10px;
      }
      p {
        padding-bottom: 10px;
      }
      img {
        width: 400px;
      }

      .view {
        padding: 20px;
        a {
          color: rgb(31, 31, 31);
        }
        i {
          padding: 0 5px;
          font-size: 20px;
        }
      }
    }
  }

  .project-btn {
    margin: 50px;
    a {
      padding: 20px;
      background-color: #537895;
      color: white;
      text-decoration: none;
      width: 150px;
      text-align: center;
      transition-duration: 267ms;
      &:hover {
        background-color: #7899b3;
      }
    }
  }
}

@media (max-width: 768px) {
  .projects {
    h1 {
      font-size: 30px;
    }
    .cards {
      .projects-cards {
        width: 300px;
        img {
          width: 300px;
        }
      }
    }
  }
}

//footer section

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #133854;
  color: white;
  ul {
    margin: 80px 0;
    h3 {
      padding-bottom: 10px;
    }
    li {
      list-style: none;
    }
  }
  img {
    margin: 80px 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;

    ul {
      margin: 10px;
    }

    img {
      margin: 20px auto;
    }
  }
}
