* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

.header {
  background-image: url("./Assets/backgroundweb.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px 10px;
  height: 8vh;
  z-index: 99;
  position: -webkit-sticky;
  position: sticky;
}

.navigation .menu {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  display: none;
}

.navigation .menu i {
  color: white;
}

.navigation .logo img {
  width: 50px;
  border-radius: 50%;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation ul .active {
  text-decoration: underline;
}

.navigation ul li {
  padding: 0 20px;
  list-style: none;
}

.navigation ul li a {
  color: white;
  font-size: 22px;
  text-decoration: none;
  -webkit-transition-duration: 267ms;
          transition-duration: 267ms;
}

.navigation ul li a:hover {
  color: #e3e3e3;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .navigation .menu {
    display: block;
  }
  .navigation .logo img {
    width: 30px;
  }
  .navigation .show {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .navigation ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 99;
    background-color: #133854;
    height: 100vh;
    width: 80vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.8s ease-in-out;
    transition: -webkit-transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
  }
  .navigation ul li {
    padding: 20px 0;
  }
}

.hero-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 92vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
}

.hero-1 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 700px;
}

.hero-1 .content h1 {
  color: white;
  font-size: 60px;
  padding-bottom: 30px;
}

.hero-1 .content p {
  color: #dedede;
  font-size: 22px;
  padding-bottom: 30px;
}

.hero-1 .content a {
  padding: 20px;
  background-color: #53789597;
  color: white;
  text-decoration: none;
  width: 150px;
  text-align: center;
}

.hero-1 .content a:hover {
  background-color: #537895;
}

.hero-1 img {
  width: 500px;
  margin: 40px 0;
}

@media (max-width: 760px) {
  .hero-1 .content h1 {
    font-size: 30px;
  }
  .hero-1 .content p {
    font-size: 15px;
  }
  .hero-1 .content a {
    padding: 10px;
    font-size: 12px;
  }
  .hero-1 img {
    width: 200px;
    margin: 20px 0;
  }
}

.services {
  color: #1f1f1f;
}

.services h1 {
  text-align: center;
  font-size: 60px;
  padding: 40px;
}

.services .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .cards .services-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  width: 300px;
}

.services .cards .services-cards h2 {
  font-size: 28px;
  padding: 20px;
}

.services .cards .services-cards svg {
  width: 300px;
}

@media (max-width: 760px) {
  .services h1 {
    font-size: 30px;
  }
  .services .cards .services-cards h2 {
    font-size: 22px;
  }
  .services .cards .services-cards svg {
    width: 200px;
  }
}

.projects {
  background-color: #fcfcfc;
  margin-top: 40px;
  color: #1f1f1f;
  text-align: center;
}

.projects h1 {
  text-align: center;
  font-size: 60px;
  padding: 40px;
}

.projects .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .cards .projects-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  min-height: 400px;
  text-align: center;
  background-color: white;
  margin: 10px 0;
}

.projects .cards .projects-cards h3 {
  padding: 10px;
}

.projects .cards .projects-cards p {
  padding-bottom: 10px;
}

.projects .cards .projects-cards img {
  width: 400px;
}

.projects .cards .projects-cards .view {
  padding: 20px;
}

.projects .cards .projects-cards .view a {
  color: #1f1f1f;
}

.projects .cards .projects-cards .view i {
  padding: 0 5px;
  font-size: 20px;
}

.projects .project-btn {
  margin: 50px;
}

.projects .project-btn a {
  padding: 20px;
  background-color: #537895;
  color: white;
  text-decoration: none;
  width: 150px;
  text-align: center;
  -webkit-transition-duration: 267ms;
          transition-duration: 267ms;
}

.projects .project-btn a:hover {
  background-color: #7899b3;
}

@media (max-width: 760px) {
  .projects h1 {
    font-size: 30px;
  }
  .projects .cards .projects-cards {
    width: 300px;
  }
  .projects .cards .projects-cards img {
    width: 300px;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #133854;
  color: white;
}

.footer ul {
  margin: 80px 0;
}

.footer ul h3 {
  padding-bottom: 10px;
}

.footer ul li {
  list-style: none;
}

.footer ul li a {
  color: white;
  text-decoration: none;
}

.footer img {
  margin: 80px 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

@media (max-width: 760px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer ul {
    margin: 10px;
  }
  .footer img {
    margin: 20px auto;
  }
}
/*# sourceMappingURL=style.css.map */