* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

//Navigation section

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 10px;
  height: 5vh;

  .logo {
  }

  ul {
    display: flex;
    li {
      padding: 0 10px;
      list-style: none;
      a {
        color: black;
        text-decoration: none;
        &:hover {
          color: rgb(99, 99, 99);
        }
      }
    }
  }
}
